:root {
    --main-ff: 'Roboto', sans-serif;
    --secondary-ff: 'Raleway', sans-serif;

/* color */
 --brand-color: #4d5ae5;
 --active-color: #404bbf;
 --accent-color: #f4f4fd;
 
 --main-bg-color: #fff;
 --dark-bg-color: #2e2f42;
 --light-bg-color: #f4f4fd;
 --modal-bg-color: #fcfcfc;

 --success-color: #31d0aa;

 --secondary-dark-text-color: #434455;
 --secondary-ligth-taxt-color: #e7e9fc;

 --backdrop-color: rgba(46, 47, 66, 0.4);
 --hero-overlay-color: rgba(46, 47, 66, 0.7);
 
 /* gap */
 --col-gap: 24px;
 --row-gap: 48px;

 /* timing-function */
 --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

 /* boody style */

body {
 font-family: var(--main-ff);
 background-color: var(--main-bg-color);
 color: var(--secondary-dark-text-color);
 font-size: 16px;
 line-height: 1.5;
}
 
/* Reset style */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
 list-style-type: none; 
 margin: 0;
 padding: 0;
}

a {
 color: currentColor;
 text-decoration: none;
} 

/* Adaptive img */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* utils style */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px; 
}
/* Common style */

.container {
    max-width: 426px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    display: inline-block;
}

.list {
    margin: 0;
    list-style: none;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 766px;
        }
}

@media  screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
        }

}
/* Section HERO */
.main-section {
    width: 428px;  
    padding: 112px 0;
    margin: 0;

    text-align: center;

    background-color: var(--dark-bg-color);
    background-image: linear-gradient(#2e2f42b3,
                rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .main-section {
        background-image: linear-gradient(#2e2f42b3,
                rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob@2x.jpg);
    }
}

.main-title {
    max-width: 320px;
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.main-button-one {
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    color: var(--white, #FFF);
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-one:is(:hover, :focus) {
    background-color: var(--active-color);
}

@media screen and (min-width: 768px) {
    .main-section {
        width: 768px;
        background-image: linear-gradient(#2e2f42b3,
                    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }
    .main-title {
        max-width: 496px;
        margin: 0 auto 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .main-section {
        background-image: linear-gradient(#2e2f42b3,
                rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .main-section {
        width: 1158px;
        padding: 188px 0;
        background-image: linear-gradient(#2e2f42b3,
                    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desc.jpg);
    }
    .main-title {
        margin: 0 auto 48px;
    }
}
@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .main-section {
            background-image: linear-gradient(#2e2f42b3,
            rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desc@2x.jpg);
    }
}

/* SECTION TWO */

.sub-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}